/* Reset stuff and set some general styles */
html,
body,
div,
nav,
section,
aside,
img,
ul, 
ol, 
li,
dl,
dd,
p {
	margin:0;
	padding:0;
	display:block;
	box-sizing:border-box;
	font-size:1em;
}
html {
	font-family:Helvetica, Arial, sans-serif;
}
a {
	color:#06d;
	transition:all 0.4s ease;
	text-decoration:none;
	border-bottom:1px solid #06d;
}
a:hover {
	text-decoration:none;
	border-bottom:1px solid #fff;
}
ul,
ol,
dl,
p {
	padding-bottom:1em;
}
li a {
	display:block;
	padding:0.2em;
}

.content-main ul,
.content-main ol,
.content-main dl,
.list,
.list ul, 
.list ol, 
.list dl {
	display:list;
	padding:0 0 0.5em 2em;	
}
.content-main li,
.content-main dd,
.list li {
	display:list-item;
}
.content-main ul a,
.content-main ol a,
.content-main dl a,
.list li a {
	display:inline;
	padding:0;
}
.wrapper {
	color:#333;
	overflow:auto;
}



/* Navigation and navigation controls */
.nav-control {
	background:#4a4a4a;
	display:inline-block;
	padding:0.5em;
	border-radius:3px;
	text-decoration:none;
}
.nav-control:hover {
	box-shadow:0 0 0.5em rgba(0,0,0,1);
}
#nav-close {
	display:none;
}
#nav:target #nav-close {
	display:inline-block;
	background:#c00;
	color:#fff;
}
#nav:target #nav-toggler {
	display:none;
}
.nav-open #nav-close {
	display:none;
}
.nav-open #nav-toggler {
	background:#adf;
	color:#333;
}
#nav {
	background:#333;
	color:#fff;
	overflow:hidden;
	max-height:4em;
}
#nav ul {
	margin-top:2em;
	transition:max-height .5s ease;
	border-top:1px solid #4a4a4a;
}
#nav:target,
.nav-open #nav {
	max-height:500px; /* must be high enough to fit everything (and then some) */
	transition:max-height .5s ease;
}
#nav a {
	color:#adf;
}
#nav ul a {
	text-decoration:none;
	border-bottom:1px solid #4a4a4a;
}
#nav ul a:hover {
	color:#bef;
	background:#4a4a4a;
}

/* Container layout */
#nav,
.content-related,
.content-main {
	padding:1em;
}
.content {
	color:#333;
	border-top:1px solid #ccc;
}
.content-related {
	background:#f5f5f5;
	/* remove these last rules if you want no height limit on the aside container */
	max-height:400px;
	overflow:auto;
}
.content-main {
	border-top:1px solid #ccc;
	background:#fff;
}



/*
 * Medium viewport enhancements 
 */
@media (min-width:600px) {

	#nav {
		position:fixed;
		height:100%;
		max-height:100%;
		width:300px;
		left:0;
		overflow:auto;
	}
	#nav .nav-control {
		display:none;
	}
	.content {
		position:static;
		padding:0 0 0 300px;
	}
}



/*
 * Large viewport enhancements
 */
@media (min-width:1200px) {

	#nav,
	.content-related,
	.content-main {
		height:100%;
	}
	.content,
	.content-main {
		border:none;
	}
	.content {
		padding:0 0 0 600px;
	}
	.content-related {
		width:300px;
		left:300px;
		max-height:none;
		overflow:auto;
		position:fixed;
		border-right:1px solid #ccc;
	}
}
