
.nav-control {
     background: none repeat scroll 0% 0% #4a4a4a;
     border-radius: 3px;
     display: inline-block;
     padding: 0.5em;
     text-decoration: none;
}

.nav-control:hover {
     box-shadow: 0px 0px 0.5em #000000;
}

#nav-close {
     display: none;
}

#nav:target #nav-close {
     background: none repeat scroll 0% 0% #cc0000;
     color: #ffffff;
     display: inline-block;
}

#nav:target #nav-toggler {
     display: none;
}

.nav-open #nav-close {
     display: none;
}

.nav-open #nav-toggler {
     background: none repeat scroll 0% 0% #aaddff;
     color: #333333;
}

#nav {
     background: url("http://www.npolar.no/npcms/export/sites/np/images/logos/norsk-polarinstitutt-logo-norsk-hvit.png") no-repeat scroll 0.5em center / 3.5em auto #333333;
     color: #ffffff;
     max-height: 4em;
     overflow: hidden;
     text-align: right;
}

#nav ul {
     border-top: 1px solid #4a4a4a;
     margin-top: 2em;
     transition: max-height 0.5s ease 0s;
}

#nav:target, .nav-open #nav {
     max-height: 500px;
     transition: max-height 0.5s ease 0s;
}

#nav a {
     color: #aaddff;
}

#nav ul a {
     border-bottom: 1px solid #4a4a4a;
     text-decoration: none;
}

#nav ul a:hover {
     background: none repeat scroll 0% 0% #4a4a4a;
     color: #bbeeff;
}

#nav, .content-related, .content-main {
     padding: 1em;
}

.content {
     color: #333333;
}

.content-related {
     background: none repeat scroll 0% 0% #f5f5f5;
}

.content-main {
     background: none repeat scroll 0% 0% #ffffff;
}

@media (min-width: 600px) {
  #nav { background-position: 1em 1em; background-size: 5em auto; position: fixed; height: 100%; max-height: 100%; width: 300px; left: 0px; overflow: auto; }
  #nav .nav-control { display: none; }
  .content { position: absolute; left: 300px; width: calc(100% - 300px); }
}

@media (min-width: 1200px) {
  #nav, .content-related, .content-main { height: 100%; }
  .content-main { position: relative; width: calc(100% - 300px); }
  .content-related { right: 0px; width: 300px; height: 100%; position: fixed; top: 0px; }
}
