<nav id="nav" class="nav">
  <a href="/home"><img width="60px" src="http://www.npolar.no/npcms/export/sites/np/images/logos/norsk-polarinstitutt-logo-norsk-hvit.png" alt="Logo: Norsk Polarinstitutt / Norwegian Polar Institute" /></a>
  <a href="#nav" id="nav-toggler" class="nav-control">Menu</a><!-- main menu toggler -->
  <a href="#nonav" id="nav-close" class="nav-control">Close</a><!-- need this to close the menu if javascript is disabled -->

  <h2>data.npolar.no</a></h2>
    
  <ul class="" >
    <li ng-repeat="link in nav"><a href="{{link.href}}" title="{{link.title}}">{{link.text}}</a></li>
  </ul>
  
  <div class="alert alert-success" ng-if="authenticated">
    <p><a href="" ng-click="logout()">Logout</a> {{user.name||user.username}}</p>
  </div>
  
  [ <b>{{lang}}</b> | <a href="" title="Norsk bokmål" ng-if="lang != 'nb'" ng-click="setLang('nb')">nb</a> <a href="" title="English" ng-if="lang != 'en'" ng-click="setLang('en')">en</a> ]
  
  <span ng-if="environment != 'production'"><a href="{{base}}">{{environment}}</a></span>

</nav>