<!DOCTYPE html>
<npdc:toolbar options="options"></npdc:toolbar>
<md-content>
  <section id="search" class="home-section" layout layout-align="center center">
    <div flex="50">
      <img src="img/tracking.png" class="screenshot" />
    </div>
    <div flex="50">
      <h1>Norwegian Polar Data Centre</h1>
      <npdc:autocomplete options="searchOptions" class="search"></npdc:autocomplete>
      <md-button class="md-raised md-icon-button" ng-click="search();"><md-icon>search</md-icon></md-button>
    </div>
  </section>
  <section ng-repeat="section in sections" class="home-section">
  </section>
  <section id="documents" class="home-section">

  </section>

</md-content>
<npdc:footer></npdc:footer>
