<!DOCTYPE html>
<div class="npdc-home">
  <npdc:toolbar options="options"></npdc:toolbar>

  <header>
    <nav class="quicknav">
      <a href="//data.npolar.no/publications">
        <md-icon>search</md-icon>
        <span class="label">Browse</span>
        <span class="text">4k+ publications</span>
        <md-tooltip md-direction="down">Publications</md-tooltip>
      </a>

      <a href="//data.npolar.no/geodata">
        <md-icon>map</md-icon>
        <span class="label">Discover</span>
        <span class="text">Open Geographic Data</span>
        <md-tooltip md-direction="down">Geodata</md-tooltip>
      </a>

      <a href="//api.npolar.no">
        <md-icon>computer</md-icon>
        <span class="label">Develop</span>
        <span class="text">Using 30+ REST API's</span>
        <md-tooltip md-direction="down">API's</md-tooltip>
      </a>
    </nav>

    <nav class="pagenav">
      <a href="#datasets">
        <md-icon>storage</md-icon>
        <md-tooltip md-direction="down">Datasets</md-tooltip>
      </a>

      <a href="#expeditions">
        <md-icon>explore</md-icon>
        <md-tooltip md-direction="down">Expeditions</md-tooltip>
      </a>

      <a href="#documents">
        <md-icon>description</md-icon>
        <md-tooltip md-direction="down">Documents</md-tooltip>
      </a>
    </nav>
  </header>

  <section id="splash">
    <ul>
      <li><a href=""><span>29</span> API's</a></li>
      <li><a href=""><span>230</span> datasets</a></li>
      <li><a href=""><span>5 062</span> publications</a></li>
      <li><a href=""><span>23 184</span> placenames</a></li>
      <li><a href=""><span>635 659</span> edits</a></li>
      <li><a href=""><span>7 242 119</span> oceanographic points</a></li>
    </ul>
  </section>

  <section id="datasets">
    <h2>Datasets</h2>
    <md-icon>storage</md-icon>

    <p>
      <!-- Some information about our datasets... -->
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus.
      Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit.
      Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue.
      Nam tincidunt congue enim, ut porta lorem lacinia consectetur.
      Donec ut libero sed arcu vehicula ultricies a non tortor.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem.
      Ut turpis felis, pulvinar a semper sed, adipiscing id dolor.
      Pellentesque auctor nisi id magna consequat sagittis.
      Curabitur dapibus enim sit amet elit pharetra tincidunt feugiat nisl imperdiet.
      Ut convallis libero in urna ultrices accumsan. Donec sed odio eros.
      Donec viverra mi quis quam pulvinar at malesuada arcu rhoncus.
      Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      In rutrum accumsan ultricies. Mauris vitae nisi at sem facilisis semper ac in est.
    </p>

    <!-- List of datasets -->
    <md-list>
      <md-list-item class="md-3-line" ng-repeat="dataset in latest['dataset']">
        <div class="md-list-item-text" layout="column">
          <h3>{{ dataset.title }}</h3>
          <h4>{{ dataset.created | datetime }}</h4>
        </div>
      </md-list-item>
    </md-list>
  </section>

  <section id="expeditions">
    <h2>Expeditions</h2>
    <md-icon>explore</md-icon>

    <p>
      <!-- Some information about our expeditions... -->
      The following is a list of the latest expeditions the Environmental Data Section has been involved with.
      For a complete list of expeditions, check out the <a href="/expedition">Expedition</a> application.
    </p>

    <!--
    <md-grid-list md-cols="4" md-gutter="1em" md-row-height="180px">
      <md-grid-tile ng-repeat="expedition in latest['expedition']">
        <a ng-href="/expedition/{{ expedition.id }}">
          <img src="http://lorempixel.com/300/200/nature/{{ expedition.id }}" alt="{{ expedition.code }}">

          <md-grid-tile-footer>
            <h3>{{ expedition.code }}</h3>
          </md-grid-tile-footer>
        </a>
      </md-grid-tile>
    </md-grid-list>
    -->

    <md-list>
      <md-list-item class="md-3-line" ng-repeat="expedition in latest['expedition']">
        <div class="md-list-item-text" layout="column">
          <h3>{{ expedition.code }}</h3>
          <h4>{{ expedition.created | datetime }}</h4>
        </div>
      </md-list-item>
    </md-list>

  </section>

  <section id="documents">
    <h2>Documents</h2>
    <md-icon>description</md-icon>

    <p>
      <!-- Some information about our documents... -->
      The following documents serve as guidelines for all data published by the Environmental Data Secton,
      and should be taken into consideration both for new publications, and when harvesting existent data.
      Feel free to contact us if you have any enqueries regarding our data policy or publications guidelines.
    </p>

    <md-grid-list md-cols="2" md-gutter="1em" md-row-height="220px">
      <md-grid-tile>
        <a ng-href="//data.npolar.no/policy/NP-datapolitikk.pdf">
          <!-- Image of data policy document -->
          <md-icon>cloud_download</md-icon>

          <md-grid-tile-footer>
            <h3>Data Policy</h3>
          </md-grid-tile-footer>
        </a>
      </md-grid-tile>

      <md-grid-tile>
        <a ng-href="">
          <!-- Image of publication guidelines -->
          <md-icon>cloud_download</md-icon>

          <md-grid-tile-footer>
            <h3>Publication Guidelines</h3>
          </md-grid-tile-footer>
        </a>
      </md-grid-tile>
    </md-grid-list>

  </section>

  <footer>
    <h3>Norwegian Polar Data Centre</h3>
    <ol class="address">
      <li><a href="http://npolar.no">Norwegian Polar Institute</a></li>
      <li><a href="http://framsenteret.no">Framsenteret</a></li>
      <li>9296 <a href="http://visittromso.no/">Tromsø</a></li>
      <li><a href="http://norway.no">Norway</a></li>
    </ol>

    <a href="" id="scroll-up" onclick="window.scrollTo(0, 0);">
      <md-icon>keyboard_arrow_up</md-icon>
      <md-tooltip md-direction="left">Scroll to top</md-tooltip>
    </a>
  </footer>
</div>
