<div class="wrapper" id="wrapper">
  
  <div ng-include="'/_shared/html/_nav.html'"></div>
  
	<div class="content">
		<aside class="content-related">
      <form id="" action="/search/?q=" method="get" class="">
        <input id="q" name="q" value="" type="search" autofocus="" placeholder="Search" class="" aria-autocomplete="list" aria-expanded="false" aria-owns="" autocomplete="off"> 
        <input type="submit" class="btn" value="Search">
      </form>
      <p>
        <ul>
          <li ng-repeat="link in shortcuts"><a href="{{link.href}}">{{link.text}}</a> </li>
        </ul>
      </p>
      
    </aside>
			
		<article class="content-main">
				
      <h3>New <a href="/dataset?sort=-created">datasets</a></h3>
      <p ng-repeat="e in new_datasets">
        <a ng-href="/dataset/{{e.id}}">{{e.title }}</a> ({{e.created | date:'yyyy-MM-dd' }})
      </p>
      
      <h3>Updated <a href="/dataset?sort=-updated">datasets</a></h3>
      <p ng-repeat="e in updated_datasets">
        <a ng-href="/dataset/{{e.id}}">{{e.title }}</a> ({{e.updated | date:'yyyy-MM-dd' }})
      </p>
      
      <h3>Latest <a href="/expedition?sort=-activity.departed">expeditions</a></h3>
      <p ng-repeat="e in expeditions">
        <a ng-href="/expedition/{{e.id}}">{{e.code }}</a> ({{e.activity[0].departed | date:'yyyy-MM-dd'}} - {{e.activity[0].returned | date:'yyyy-MM-dd' }})
      </p>
      
      <h3>Latest <a href="/tracker?sort=-deployed">trackers</a></h3>
      <p ng-repeat="tracker in trackers">
        <a ng-href="/tracker/{{tracker.id}}">{{tracker.object }} ({{tracker.technology}} platform {{tracker.platform}})</a> (deployed {{tracker.deployed | date:'yyyy-MM-dd'}})
      </p>
      
      <h3>Latest <a href="/?q={{ {k: 'v'} }}">people</a></h3>
      <p ng-repeat="person in people">
        <a ng-href="/person/{{person.id}}">{{ person.name || person.title }}</a> - {{person.jobtitle.en}}
      </p>
      
      <h3>Latest <a href="/publications/?q=&sort=-published_sort">publications</a></h3>
      <p ng-repeat="e in publications">
        <span ng-repeat="author in authors(e.people)">
          {{ author | authorFilter | nameFilter }}{{$last ? '' : ', '}}</span>. <a ng-href="/publication/{{e.id}}" title="e.title">{{e.title }}</a>. <em>{{e.journal.name}}</em> ({{e.published_sort | date:'yyyy' }})
      </p>
      
      <h3>Latest <a href="/project">projects</a></h3>
      <p ng-repeat="e in projects">
        <a ng-href="/project/{{e.id}}">{{e.title }}</a> ({{e.start_date | date:'yyyy-MM-dd' }} - {{ e.end_date | date:'yyyy-MM'}})
      </p>
      
      <!--
      <h3>Latest new <a href="/editlog">documents</a></h3>
      <p ng-repeat="e in posted">
        <a ng-href="/editlog/{{e.id}}">{{e.path }}</a> ({{e.request.time| date:'yyyy-MM-dd' }} - {{ e.method | date:'yyyy-MM'}})
      </p>
      
      <h3>Latest updated <a href="/editlog">documents</a></h3>
      <p ng-repeat="e in edits">
        <a ng-href="/editlog/{{e.id}}">{{e.request.time }}</a> {{e.identifier}} ({{e.request.time| date:'yyyy-MM-dd' }} - {{ e.method | date:'yyyy-MM'}})
      </p>
      -->
      
      <h3>Latest <a href="http://placenames.npolar.no">place names</a></h3>
      <p ng-repeat="p in placenames">
        <a ng-href="http://placenames.npolar.no/stadnamn/{{p.title_link}}?ident={{p.ident}}">{{p.title }}</a> ({{p.created | date:'yyyy-MM-dd' }})
      </p>
      
      <h3>Latest data <a href="/service/?sort=-created">services</a> (APIs)</h3>
      <p ng-repeat="api in services">
        <a ng-href="">{{api.title }}</a> ({{api.created | date:'yyyy-MM-dd' }})
      </p>
      
      <h3>Latest data <a href="/service/?sort=-created">sources</a></h3>
      <p ng-repeat="source in sources">
        <a ng-href="//api.npolar.no/source/{{source.id}} ">{{source.collection }} {{source.type }}{{ source.file ? ' '+source.file : ''}}</a> ({{source.created | date:'yyyy-MM-dd' }})
      </p>
      
      
		</article>
	</div>
</div>

<footer>
  
  All machine readable format on api.npolar.no
  
</footer>
	
<script type="text/javascript">
  // Class toggler
  Element.prototype.toggleClass = function(theClass) {
    var classesStr = this.getAttribute('class');
    if ( classesStr === null || typeof classesStr === 'undefined' ) {
      this.setAttribute('class', theClass);
    } else {
      var classes = classesStr.split(' ');
      var removedClass = false;
      var classesStr = '';
      for (var i = 0; i < classes.length; i++) {
        var existingClassName = classes[i].trim();
        if (existingClassName !== theClass) {
          classesStr += existingClassName + ' ';
        } else {
          removedClass = true;
        }
      }
      if (!removedClass) {
        classesStr += theClass;
      }
      this.setAttribute('class', classesStr.trim());
    }
  }
  
  document.addEventListener("DOMContentLoaded", function() {
    document.getElementById('nav-toggler').onclick = function(e) {
      e.preventDefault();
      document.documentElement.toggleClass('nav-open');
    }
  });
</script>