<!DOCTYPE html>
<style>
  .leaflet-control-layers-overlays
  {
    text-align: left;
  }

  .colorblock
  {
    margin-right: 5px; width: 1em; height: 1em; display: inline-block;
  }
</style>

<npdc:toolbar></npdc:toolbar>
<md-content class="home">

  <section id="search" class="home-section" layout layout-align="center start" layout-wrap>
    <div flex="50">
      <img src="img/tracking.png" class="screenshot" />
    </div>
    <div flex="50">
      <h1>Norwegian Polar Data Centre</h1>
    </div>

    <form ng-submit="search();" class="search-container" flex="100" layout="row" layout-align="center center" layout-margin layout-wrap>
      <npdc:autocomplete options="searchOptions" class="search" flex="100" flex-gt-xs="75" placeholder="{{'Search the Norwegian Polar Data Centre' | t }}"></npdc:autocomplete>
      <div flex="100" flex-gt-xs="15"><md-button ng-show="false" class="md-button md-raised md-hue-1 search-button" type="submit">
      {{'Search the Norwegian Polar Data Centre' | t}}</md-button>
      </div>
      <div ng-show="security.isAuthenticated() && endpoints.length > 0">
        <h3>{{user.name}}'s contributions</h3>
        <span ng-repeat="e in endpoints"><a href="">{{e.endpoint | t }}</a> ({{e.count}}) </span>
      </div>

    </div>
    <form ng-submit="search();" class="search-container" flex="100" layout="row" layout-align="center center" layout-margin layout-wrap>
      <npdc:autocomplete options="searchOptions" class="search" flex="100" flex-gt-xs="75"></npdc:autocomplete>
      <div flex="100" flex-gt-xs="15"><md-button class="md-button md-raised md-hue-1 search-button" type="submit">{{'search' | t}}</md-button></div>

    </form>

  </section>
  
  <section class="section" layout="column" layout-padding>
    <div ng-show="security.isAuthenticated() && endpoints.length > 0">
      <h3>{{user.name}} contributed to</h3>
      <span ng-repeat="e in endpoints"><a href="{{e.href}}">{{e.text | t }}</a> | </span>
    </div>
  </section>

  <section class="app-section" layout="column" layout-padding ng-controller="OceanographyBuoyMapController">
    <h1>N-ICE2015 {{ 'oceanography buoy positions'|t }}</h1>   
    <div id="map" style="height: 500px;" class="leaflet-map"></div>
    <div>Type: <span ng-repeat="type in types">
      <!--ng-click="changeBuoyType(type)"-->
      <a ng-href="?type={{type}}">{{type}}</a>&nbsp;</span>
      <!--Interval: <span ng-repeat="interval in ['12h', '24h', '48h']">
        <a ng-href="?interval={{interval}}">{{interval}}</a>&nbsp;</span>
      Geometry: <span ng-repeat="geometry in ['Point', 'LineString']">
        <a ng-href="?geometry={{geometry}}">{{geometry}}</a>&nbsp;</span>-->
     
      <p>
        {{'Line-plot-shows' | t }} {{ 'interval.'+interval | t }} {{ 'average-point-positions-acquired live-from-the'|t }}
        <a href="https://api.npolar.no/oceanography/buoy/?q=&format=geojson&filter-latitude=60..">{{'Oceanography buoy API' | t}}</a>.
        <span>{{ 'Last observation'|t}}: {{last}}</span>
      </p>
      </div>
  </section>
  
<!--  <section class="app-section" layout="column" ng-controller="ExpeditionMapController">
    <h1><a href="/dataset/7f7e56d0-9e70-4363-b37d-17915e09a935">Lance</a> expeditions ({{interval}} average positions)</h1>   
    <div id="npolar-esri-leaflet-map" style="height:600px;" class="leaflet-map"></div>
    <div>Type: <span ng-repeat="type in types">
  </section>-->

  <section ng-repeat="section in sections" class="home-section" layout layout-align="center center" ng-if="section.promote && section.screenshots.length">
    <div flex="50" flex-order="{{$odd ? 0 : 1}}">
      <a ng-href="{{section.link}}">
        <img ng-src="{{section.screenshots[0]}}" class="screenshot" />
      </a>
    </div>
    <div flex="50" flex-order="{{$odd ? 1 : 0}}">
      <h1><a ng-href="{{section.link}}">{{ section.link | t }}</a></h1>
      <p>{{ section.link + '.description' | t }}</p>
    </div>
  </section>


  <section class="app-section" layout="column" layout-padding>
    <div>
      <h1>{{ 'applications.title' | t }}</h1>
      <p>{{ 'applications.tagline' | t }}</p>
    </div>
    <div flex>
      <md-grid-list
        md-cols="2" md-cols-md="3" md-cols-gt-md="5"
        md-gutter="1px" md-gutter-gt-sm="8px" md-row-height="250px" class="apps-grid">
        <md-grid-tile ng-repeat="app in apps" class="app-tile">
          <md-whiteframe class="md-whiteframe-1dp" style="height: 100%">
            <a ng-href="{{app.link}}">
              <img ng-src="{{icon96(app)}}" />
              {{ app.link | t }}
            </a>
            <p>{{ app.link + '.description' | t }}</p>
          </md-whiteframe>
        </md-grid-tile>
      </md-grid-list>
    </div>

  </section>
  <section id="documents" class="document-section" layout="column" layout-align="start center">
    <div>
      <h1>{{ 'guidelines.title' | t }}</h1>
      <p>{{ 'guidelines.tagline' | t }}</p>
    </div>
    <md-grid-list
      md-cols="2"
      md-gutter="12px" md-gutter-gt-sm="8px" md-row-height="250px" style="height: 250px; margin-top: 20px;">
      <md-grid-tile ng-repeat="doc in documents">
        <a ng-href="{{doc.link}}">
          <img ng-src="{{doc.img}}" style="width: 500px;" />
          {{doc.name}}
        </a>
        <p>{{doc.description}}</p>
      </md-grid-tile>
    </md-grid-list>
  </section>

</md-content>
<npdc:footer></npdc:footer>
