<!DOCTYPE html>
<npdc:toolbar options="options"></npdc:toolbar>
<div ng-if="warning" class="np-environment-warning">!! Environment: Production !!</div>

<!-- Content wrapper -->
<md-content class="np-content-wrapper">
  <!-- Subheader bar -->
  <div class="np-sub-toolbar"></div>
  <div class="np-content-card">
    <md-toolbar class="np-content-title">
      <h3>Search results</h3>
    </md-toolbar>
    <main class="np-content md-whiteframe-12dp" layout="column">
      <npdc:crumbs></npdc:crumbs>
      <div class="np-content-view" layout="column" autoscroll="true">

        <div class="npdc-search">
          <md-content>

            <section>
              <npdc:loader ng-if="!results"></npdc:loader>

              <div class="np-layout-list">
                <md-list>
                  <md-list-item class="md-2-line" ng-repeat="e in results" ng-href="{{ entryHref(e) }}">
                    <div class="np-search-icon md-avatar" title="ID: {{ e.id }}">
                      <span>{{ e.id.substr(0,3) }}</span>
                    </div>
                    <div class="md-list-item-text">
                      <h3 class="md-headline">
                        <span class="np-search-collection">[{{e.collection}}]</span>  {{ title(e) }}
                        <em ng-if="e.created_by">
                          「{{ e.created_by }}」
                        </em>
                      </h3>
                      <h4>{{ e.updated.split("T")[0] }}</h4>
                    </div>
                  </md-list-item>
                </md-list>
                <md-divider></md-divider>
              </div>

              <md-subheader class="md-primary" ng-if="results && results.length === 0">
                <span>No results when searching for "{{q}}"</span>
              </md-subheader>
            </section>
          </md-content>
        </div>

      </div>
    </main>
  </div>
</md-content>
<npolar-message></npolar-message>

<npdc:footer></npdc:footer>
